<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * For the full copyright and license information, please view the LICENSE
 *
 * @category    blackakula
 * @package     af
 * @copyright   Copyright (c) Sergii Akulinin <blackakula@gmail.com>
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<phpunit bootstrap="./framework/bootstrap.php">
    <testsuites>
        <testsuite name="All Tests">
            <directory suffix="Test.php">testsuite</directory>
        </testsuite>
    </testsuites>
</phpunit>
